@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --blue1: #0a5a7f;
  --blue2: #27bbff;
  --blue3: #97deff;
  --border:#e1e1e1;
  --secback:rgb(243 244 246);
}

/* changing the variables color for dark theme */

[data-theme="dark"] {
  --background: #171717;
  --foreground: #f9fafb;
  --border:#64748b;
  --secback:#949494;
}

*{
  font-family: Outfit;
}
